<section class="container">
    <div class="my-4 d-flex justify-content-center">
        <h2><strong>Práctica:</strong> Implementación de la API de 
            <a class="text-decoration-none" href="https://dummyjson.com/" target="_blank">DummyJSON</a>
        </h2>
    </div>

    <div class="my-4">
        <h3>El <strong>objetivo</strong> es simular una página web totalmente funcional 
            con las operaciones más basicas</h3>
    </div>

    <h3>¿Qué es DummyJson?</h3>
    <p>
        DummyJson es una potente API que nos permite generar datos ficticios 
        en formato JSON de manera rápida y sencilla. A través de esta plataforma, 
        descubrirás cómo crear y manipular datos simulados para tus proyectos, lo 
        que resulta esencial para el desarrollo web y la realización de pruebas 
        realistas.
    </p>

    <h3>Explorando las Llamadas HTTP</h3>
    <p>
        Uno de los pilares fundamentales del desarrollo web es el manejo y el tratamiento 
        de las llamadas HTTP. Aquí, te sumergirás en el mundo de las solicitudes y 
        respuestas HTTP, comprendiendo cómo interactuar con servidores y recursos 
        web, esencial para cualquier desarrollador web.
    </p>

    <a href="assets/documents/pdf/Practica Frontend DummyJSON.pdf" target="_blank">Ver documento</a>

    <div class="my-4">
        <p>
            Una vez terminado, desplegaremos el proyecto para que puedas acceder desde cualquier dispositivo.
            Seguiremos el siguiente 
            <a class="text-decoration-none"
                href="https://medium.com/swlh/how-to-deploy-an-angular-app-to-github-pages-without-using-any-libraries-step-by-step-guide-cfe96fb0c879" target="_blank">
                tutorial
            </a>
            para configurar el repositorio y desplegar con el proyecto Angular.
        </p>
    </div>
</section>