<section *ngIf="cargado" class="container my-3">
    
    <div class="my-4 d-flex justify-content-between">
        <div class="col-3">
            <h1><strong>Productos</strong></h1>
        </div>

        <div class="col"></div>

        <div class="col-5 d-flex border rounded-pill">
            <div class="input-group">
                <input class="form-control" type="search" #search
                (keydown.enter)="searchProduct(search.value)" placeholder="Buscar..." >
            </div>
            <button class="btn" type="button" (click)="searchProduct(search.value)">
                <img src="assets/icons/search-interface-symbol.png" alt="Buscar" title="Buscar" width="16" height="16">
            </button>
        </div>
        <div class="col"></div>
    </div>

    <app-pagination 
        [totalElements]="totalProductsAPI" 
        [elementsToDisplay]="limit"
        (pageClicked)="cargarPagina($event)">
    </app-pagination>

    <div class="row d-flex">
        <div *ngFor="let product of products" class="card m-1 p-2" style="width: 18rem;">
            <div class="p-2">
                <img src="{{ product.thumbnail }}" class="card-img-top main-logo" alt="Logotipo {{ product.id }}"
                    title="{{ product.title }}">
                <hr style="margin-top: 10px; margin-bottom: 0px;">
            </div>
            <div class="card-body ">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text" title="{{ product.description  }}">{{ getDescription(product) }}</p>
                
                <div class="d-flex">
                    <p class="fst-italic">Valoración: {{ product.rating }}/5</p>

                    <!-- <div class="d-flex justify-content-center align-items-center">
                        <ul class="ratings">
                            <i class="fa fa-star rating-color" *ngFor="let star in 5"></i>
                        </ul>
                    </div> -->
                </div>

                <p class="badge bg-danger"><strong>Oferta</strong></p>

                <div>
                    <span style="margin-right: 15px" class="text-danger"> -{{ product.discountPercentage }}%</span> 
                    <strong>{{ getDiscountedPrice(product) | currency }}</strong>
                </div>

                <div class="mb-2">
                    <p class="text-muted ">Precio recomendado 
                        <span class="text-decoration-line-through">{{ product.price | currency }}</span> 
                    </p>
                </div>

                <div class="position-absolute" style="bottom: 5px;">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" 
                        data-bs-target="#productModal">
                        Ver 
                    </button>
                </div>
            </div>
        </div>
    </div>
  
  <!-- Modal -->
  <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Info del producto
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>